<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for a crew member</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<br/>

<div class="box">
    <form method="get">
        Search for a crew member: <input type="text" name="search">
        <p><button class="send_button" type="submit">Go</button> </p>
    </form>
</div>

<br/>
<br/>

<div style="border: 1px solid gray;" data-th-each="worker: ${crew}">
    <p data-th-text="${worker.crewName}"></p>
    <p data-th-text="${worker.crewRank}"></p>
    <p data-th-text="${worker.dutyShip.name}"></p>

</div>

</body>

</html>