<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Új űrhajó</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">

    <form data-th-action="@{/spaceship}" method="post" data-th-object="${newShip}">

        <select data-th-field="*{spaceShipClass}">
            <option data-th-each="shipClass : ${shipClasses}"
                    data-th-value="${shipClass}"
                    data-th-text="${shipClass}">
            </option>
        </select>
        </br>
        </br>
        <input type="text" data-th-field="*{name}" placeholder="name">
        </br>
        </br>
        <span>Is it an active spaceship? (Check the box if it is)</span>
        <input type="checkbox" value="X">
        <br/>
        <br/>
        <input class="send_button" type="submit" value="Send">

    </form>

</div>

</body>

</html>